.DS_Store

/Binaries
/DerivedDataCache
/gc_plan_unreal1.xcworkspace
/Intermediate
/Saved

/.ignore
/.vscode
/.vs
/*.code-workspace

/Content/Conditional
/Source/Conditional

/Source/ThirdParty/cppdelaunay/libcppdelaunay

/Content/EuropeanBeech
/Content/KiteDemo
/Content/MS_LushPlants
/Content/MSPresets
/Content/FL_WetFlatwoods
/Content/FreeFurniturePack
/Content/NE_US_Plants_Pack
/Content/PN_Fern
/Content/TMChairsAndTablesPack1
/Content/TMHighTechPack1
/Content/TMStoragesPack1